
.homeContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    margin: 0rem 2.5rem;
    text-align: center  ;
    /* scroll-snap-align: center; */
    
    /* border: 1px solid rgb(255, 16, 16); */
}