.friendListBar {
    /* flex: 2.1; */
    height: calc(100vh - 1.5rem);
    margin: 1rem 2.1rem;
    background: radial-gradient(circle at 10% 20%, rgb(253, 239, 132, 0.297) 0%, rgb(247, 198, 169, 0.297) 54.2%, rgb(21, 186, 196, 0.297) 100.3%);
    /* background: linear-gradient(112.4deg, rgb(169, 28, 115,0.600) 21.6%, rgb(219, 112, 54,0.600) 92.2%); */
    
    border-radius: 1.5rem;
    /* border: 1px solid red; */
    width: 20%;
}

.wrapper{
    padding: 2rem;
    background: linear-gradient(89.9deg, rgb(208, 246, 255, 0.989) 0.1%, rgb(255, 237, 237, 0.989) 47.9%, rgb(255, 255, 231, 0.989) 100.2%);
    border-radius: 2rem;
    width: 15rem;
    margin: 0.5rem auto;
    height: 40rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
        
      }
      &::-webkit-scrollbar-track {

        background: radial-gradient(circle at 10% 20%, rgba(6, 0, 255, 0.61) 0%, rgb(191, 0, 255) 100.7%);
        box-shadow: inset 0 0 15px rgb(255, 255, 255);
        border-radius: 3rem;
        /* border-top-right-radius: 21rem; */
        /* height: 10px; */
        /* height: 1000px; */
        overflow: auto;
        

      }

      &::-webkit-scrollbar-thumb {
        /* background: #888; */
        background: linear-gradient(109.6deg, rgb(33, 25, 180, 0.757) 11.2%, rgb(253, 29, 29, 0.757) 55.2%, rgb(252, 176, 69, 0.757) 91.1%);
        border-radius: 3rem;
        
        
        
      }

      &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(109.6deg, rgb(33, 25, 180) 11.2%, rgb(253, 29, 29) 55.2%, rgb(252, 176, 69) 91.1%);

      }


}


.friendListBarList {
    /* border: 1px solid red; */
    list-style: none;
    padding: 0;
    margin: 0;
}

.friendListBarImg {
  height: 2.7rem;
  object-fit: cover;
  border-radius: 100%;
  width: 2.8rem;
}

.friendListBarHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem; */
  /* border-radius: 0.4rem; */
  /* width: 12rem; */
  margin: 1rem auto;
  /* border: 1px solid yellow; */
  /* background: linear-gradient(
    109.6deg,
    rgb(151, 213, 255, 0.478) 11.2%,
    rgb(255, 155, 185, 0.478) 91.1%
  ); */
  cursor: pointer;

}

.headingContainer {
  border: 1px solid rgb(255, 255, 255);
  width: 13rem;
  margin: 1rem auto;
  padding: 0;
  height: 4rem;
  background: linear-gradient(
    89.9deg,
    rgba(178, 253, 238, 0.46) -8.1%,
    rgb(207, 244, 254, 0.4) 26.3%,
    rgba(207, 244, 254, 0.48) 47.5%,
    rgba(254, 219, 243, 0.43) 61.5%,
    rgb(254, 219, 243) 78.7%,
    rgb(254, 207, 210, 0.4) 109.2%
  );
  border-radius: 1rem;
}

.friendListBarList{
    list-style: none;
    padding: 0;
    /* margin: 0; */
}

.frinedListBarItems{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    /* border: 1px solid yellow; */
    background: linear-gradient(109.6deg, rgb(151, 213, 255, 0.478) 11.2%, rgb(255, 155, 185, 0.478) 91.1%);
    cursor: pointer;

}